<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Write about... </title>

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-family: Arial, sans-serif;
        }

        .header {
            display: flex;
            justify-content: space-between;
            padding: 20px 50px;
            margin-bottom: 30px;
            background-color: aliceblue;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }

        .user {
            margin: 0 30px;
        }

        .avatar {
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }

        .post {
            margin: 40px 0;
            height: 350px;
            overflow: auto;
        }
    </style>
</head>
<body>

<header class="header">
    <h3>Write about ... </h3>
    <div style="display: flex; align-items: center">
        <div class="user">
            <img src="/static/{{ user.avatar }}" class="avatar" alt="avatar">

            <span style="margin: 0 10px">{{ user.username }}</span>
        </div>

        <button type="button" class="btn btn-primary" onclick="logout()">Logout</button>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="login-form col-md-offset-2 col-md-8">
            <div class="post">
                <h4 class="post-title">{{ post.title }}</a></h4>
                <i>by {{ post.by.[0].username }}</i> <img src="/static/{{post.by.[0].avatar}}" class="avatar" alt="avatar">
                <p class="post-body"> {{ post.body }}</p>
            </div>

            <hr>
            <form name="form">
                <div class="form-group">
                    <input name="comment"
                              class="form-control"
                              placeholder="Type your comment..."
                              required
                              aria-describedby="basic-addon1">
                </div>
                <button type="button" class="btn btn-primary" onclick="addComment(`{{post._id}}`)">Add comment</button>
            </form>

        </div>
    </div>
</div>

<script>
    function addComment(id) {
        const form = document.forms['form'];

        const xhr = new XMLHttpRequest(),
            body = 'postId=' + encodeURIComponent(id) +
                '&comment=' + encodeURIComponent(form.elements['comment'].value);

        xhr.open("POST", '/comments', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');


        xhr.onreadystatechange = function() {
            if (this.readyState === 4 && this.status === 200) {
                window.location.reload();
            } else if (this.status === 400) {
                console.log(this.response);
            }
        };

        xhr.send(body);
    }
</script>
</body>
</html>